<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>edu.uniandes.servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Clave</servlet-name>
  	<servlet-class>edu.uniandes.servlets.Clave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Recuperacion</servlet-name>
  	<servlet-class>edu.uniandes.servlets.Recuperacion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistroUsuario</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.RegistroUsuario</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>RegistroAdministrador</servlet-name>
  	<servlet-class>edu.uniandes.servlets.RegistroAdministrador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasarInicio</servlet-name>
  	<servlet-class>edu.uniandes.servlets.PasarInicio</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Buscar</servlet-name>
  	<servlet-class>edu.uniandes.servlets.Buscar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registro</servlet-name>
  	<servlet-class>edu.uniandes.servlets.Registro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaginaDeInicio</servlet-name>
  	<servlet-class>edu.uniandes.servlets.PaginaDeInicio</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>PaginaDeInicioAdministrador</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.PaginaDeInicioAdministrador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistroOficina</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.RegistroOficina</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistroPuntoDeAtencion</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.RegistroPuntoDeAtencion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaginaDeInicioUsuario</servlet-name>
  	<servlet-class>edu.uniandes.servletsusuario.PaginaDeInicioUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>hola</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.hola</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistroTransaccion</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.RegistroTransaccion</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>RegistroCuentaXCuenta</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.RegistroCuentaXCuenta</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ActualizarPrestamo</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.ActualizarPrestamo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarCuenta</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.CerrarCuenta</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarPrestamo</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.CerrarPrestamo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultarCuentas</servlet-name>
  	<servlet-class>edu.uniandes.servletsusuario.ConsultarCuentas</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultarCliente</servlet-name>
  	<servlet-class>edu.uniandes.servletsusuario.ConsultarCliente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultarOperacionesMayorMovimiento</servlet-name>
  	<servlet-class>edu.uniandes.servletsusuario.ConsultarOperacionesMayorMovimiento</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultarUsuarioMasActivo</servlet-name>
  	<servlet-class>edu.uniandes.servletsusuario.ConsultarUsuarioMasActivo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarCuenta</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.RegistrarCuenta</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ConsultarConsignacion</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.ConsultarConsignacion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultarOperacionesV2</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.ConsultarOperacionesV2</servlet-class>
  </servlet>
    <servlet>
  <servlet-name>ConsultarOperacionesV3</servlet-name>
  	<servlet-class>edu.uniandes.servletsadministrador.ConsultarOperacionesV3</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>ConsultarConsignacion</servlet-name>
  	<url-pattern>/ConsultarConsignacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultarOperacionesV2</servlet-name>
  	<url-pattern>/ConsultarOperacionesV2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultarOperacionesV2</servlet-name>
  	<url-pattern>/ConsultarOperacionesV2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Clave</servlet-name>
  	<url-pattern>/Clave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Recuperacion</servlet-name>
  	<url-pattern>/Recuperacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroUsuario</servlet-name>
  	<url-pattern>/RegistroUsuario</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>RegistroAdministrador</servlet-name>
  	<url-pattern>/RegistroAdministrador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasarInicio</servlet-name>
  	<url-pattern>/PasarInicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Buscar</servlet-name>
  	<url-pattern>/Buscar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registro</servlet-name>
  	<url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaginaDeInicio</servlet-name>
  	<url-pattern>/PaginaDeInicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroOficina</servlet-name>
  	<url-pattern>/RegistroOficina</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroPuntoDeAtencion</servlet-name>
  	<url-pattern>/RegistroPuntoDeAtencion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaginaDeInicioUsuario</servlet-name>
  	<url-pattern>/PaginaDeInicioUsuario</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>PaginaDeInicioAdministrador</servlet-name>
  	<url-pattern>/PaginaDeInicioAdministrador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>hola</servlet-name>
  	<url-pattern>/hola</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroTransaccion</servlet-name>
  	<url-pattern>/RegistroTransaccion</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>RegistroCuentaXCuenta</servlet-name>
  	<url-pattern>/RegistroCuentaXCuenta</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ActualizarPrestamo</servlet-name>
  	<url-pattern>/ActualizarPrestamo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarCuenta</servlet-name>
  	<url-pattern>/CerrarCuenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarPrestamo</servlet-name>
  	<url-pattern>/CerrarPrestamo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultarCuentas</servlet-name>
  	<url-pattern>/ConsultarCuentas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultarCliente</servlet-name>
  	<url-pattern>/ConsultarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultarOperacionesMayorMovimiento</servlet-name>
  	<url-pattern>/ConsultarOperacionesMayorMovimiento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultarUsuarioMasActivo</servlet-name>
  	<url-pattern>/ConsultarUsuarioMasActivo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarCuenta</servlet-name>
  	<url-pattern>/RegistrarCuenta</url-pattern>
  </servlet-mapping>
</web-app>
