*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(fondoRegistro.jpg) #2b2b2a;
	background-position: center;
}

body form h1{
	text-align: center;
	color: #181823;
	font-weight: normal;
	font-size: 40pt;
	margin: 30px 0px;
	font-family: 'Pinyon Script', cursive;
}
.main .articles article p{
	font-family: 'Times New Roman';
	margin-left:  1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
	font-size: 15px;
}

body form ul li{
	list-style: none;
	margin-left: 30px;
	font-family: 'Roboto Mono';
}

body form ul li label{
	margin: 10px 10px;
	font-size: 20px;
}

body form ul li SELECT{
	height: 30px;
	font-family: 'Roboto Mono';
}

body form ul li input{
	border: 1px solid #444;
	font-size: 13px;
	height: 30px;
	margin: 10px 10px;
	font-family: 'Roboto Mono';
	text-align: center;
}

body form a button{
	width: 300px;
	margin: 20px 0px 30px 40%;
	height: 50px;
	background: rgb(60,60,60); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(60,60,60,1) 0%, rgba(42,40,40,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(42,40,40,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828',GradientType=0 ); /* IE6-9 */
	
	border:1px solid #232323;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;

}